
body
{
    background:rgb(100, 100, 100);
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#parrafo
{
    background: white;
    padding: 1em;
}


#cabecera
{
    background: #ace2d6;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#footer
{
    background: #136b55;
    color: white;
    text-align: center;
    padding: 0.5em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid rgb(185, 185, 185);
    margin: 0 auto;
}

img{
    display:block;
    margin:auto;
    }
    .shared-panel{
        overflow: auto;
    }
    .shared-panel span{
        margin: 10px 0;
        font-size: 16px;
        font-weight: 600;
    }
    .shared {
        display: inline-block;
        width: 30px; 
        height: 30px;
        margin: 5px 0; 
        padding: 0; 
            /* Recurso incluido en la descarga del ejemplo */
        background: url("shared.png") no-repeat; 
        float: left;
        margin-right: 5px; 
        cursor: pointer;
        border-radius: 50%;
    }
    .shared:hover{
        opacity: 0.7;
    }
    .shared.gp {background-position: 0px 0px; background-color: #E62B34;}
    .shared.tt {background-position: 0px -30px; background-color: #43BDF0;}
    .shared.ce {background-position: 0px -60px; background-color: #8A898D;}
    .shared.wa {background-position: 0px -90px; background-color: #0dc143;}
    .shared.fb {background-position: 0px -120px; background-color: #6081C4;}
    
    .st2{
       border-radius: 0;
    }
    .st3{
       border-radius: 5px;
    }
